.body {
    padding-left: 15px;
    padding-top: 15px;
}

.row {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 15px;
}

#profile_info {
    border: none;
}

.page_things {
    bottom: 10px;
}