{% extends "network/layout.html" %}

{% block title %}
    {{ profile.username }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        {% if request.user == profile %}
            <h2>Your Profile</h2>
        {% else %}
            <h2>{{ profile.username }}'s Profile</h2>
            {% if user.is_authenticated %}
                {% if is_following %}
                    <form method="POST" action="{% url 'follow' profile.username %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-sm">Unfollow</button>
                    </form>
                {% else %}
                    <form method="POST" action="{% url 'follow' profile.username %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-sm">Follow</button>
                    </form>
                {% endif %}
            {% endif %}
        {% endif %}
        <br>
        <h4>Followers: {{ followers }}</h4>
        <h4>Following: {{ following }}</h4>
        <br>
        {% if request.user == profile %}
            <h2>Your Posts</h2>
        {% else %}
            <h2>{{ profile.username }}'s Posts</h2>
        {% endif %}
        {% for post in current_page.object_list %}
            <div class="row mb-3">
                <div class="col">
                    <p id="post_content">{{ post.content }}</p>
                    Posted by: <a href="{% url 'profile' post.poster.username 1 %}"><strong>{{ post.poster.username }}</strong></a> on <strong>{{ post.created }}</strong> <br>
                    Likes: {{ post.likes }}
                    <br>
                    {% if request.user == post.poster %}
                        <button id="edit" class="btn btn-outline-primary btn-sm">Edit</button>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <nav class="page_things">
            <ul class="pagination">
                {% if current_page.has_previous %}
                    <li class="page-item"><a class="page-link" href="{% url 'profile' profile.username current_page.previous_page_number %}">Previous</a></li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                {% endif %}
                {% for number in page_range %}
                    {% if number == page_number %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="{% url 'profile' profile.username number %}">{{ number }}<span class="sr-only">(current)</span></a>
                        </li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="{% url 'profile' profile.username number %}">{{ number }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if current_page.has_next %}
                    <li class="page-item"><a class="page-link" href="{% url 'profile' profile.username current_page.next_page_number %}">Next</a></li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}